.strickimgs{
  opacity: 0.2;
  position: absolute;

}
.view{
  opacity:1 !important;
  position: absolute;
}
#divequation{
  position: absolute;
  left:10%;
  top:20%;
}
#img0{
  left: 121px;
    top: 78px;

}
#img1{
  left:119px;
  top: 206px;
}
#img2{
  left: 208px;
  top: 78px;
}
#img3{
  left: 208px;
  top: 206px;
}
#img4{
  left: 361px;
  top: 134.5px;
}
#img5{
  left: 497px;
  top: 78px;
}
#img6{
  left: 497px;
  top: 206px;
}
#img7{
  left: 585px;
  top: 78px;
}
#img8{
  left: 585px;
  top: 206px;
}
#img9{
  left: 864px;
  top: 78px;
}
#img10{
  left: 864px;
  top: 206px;
}
#img11{
  left: 950px;
  top: 78px;
}
#img12{
  left: 950px;
  top: 206px;
}

#img16{
  left:129px;
  top: 194px;
}
#img17{
  left: 129px;
  top:66px;
}
#img18{
  left: 129px;
  top: 321px;
}
#img19{
  left: 333px;
  top: 185px;
}
#img20{
  left:505px;
  top: 194px;
}
#img21{
  left: 505px;
  top: 66px;
}
#img22{
  left: 505px;
  top: 321px;
}
#img23{
  left: 680px;
  top: 157px;
}
#img24{
  left: 680px;
  top: 206px;
}
#img25{
  left: 871px;
  top: 194px;
}
#img26 {
    left: 871px;
    top: 66px;
}
#img27{
  left: 871px;
  top: 321px;
}

